body {
    background-color: black;
    color: green;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
  }

  a {
    color: green;
    text-decoration: none;
  }
  a:visited {
    color: green;
    text-decoration: none;
  }